<?xml version="1.0"?>
<!--
Web.config file for Gallery.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <add verb="*" path="*.xml" type="EmergeTk.ContextHandler,EmergeTk" />
      <add verb="*" path="*.context" type="EmergeTk.ContextHandler,EmergeTk" />
      <add verb="*" path="/api*" type="EmergeTk.WebServices.ServiceRouter,WebServiceProvider" />
    </httpHandlers>
    <httpRuntime maxRequestLength="16096" />
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
  <appSettings>
    <add key="DefaultDataProvider" value="EmergeTk.Model.Providers.MySqlProvider" />
    <add key="SolrConnectionString" value="http://localhost:8080/solr" />
    <add key="SearchProvider" value="EmergeTk.Model.Search.SolrSearchProvider" />
    <add key="CacheProvider" value="EmergeTk.Model.EnyimCacheClient" />
    <add key="EnableCaching" value="True" />
    <add key="mysqlConnectionString" value="Database=commoncensus;Server=127.0.0.1;Port=3306;uid=root;Password=password;default command timeout=120;Connection Timeout=120" />
    <add key="LowerCaseTableNames" value="true" />
    <add key="preserveAtAllCosts" value="true" />
    <add key="Environment" value="UniqueDevNameHere" />
    <add key="SolrConnectionString" value="http://localhost:8080/solr" />
    <add key="ApiFieldsetsPath" value="/home/ben/workspaces/fiveToOne/chaos/api-fieldsets.json" />
    <!-- set DisableServiceSecurity to true to allow non-root access to admin and the like. -->
    <add key="DisableServiceSecurity" value="true" />
  </appSettings>
</configuration>