@import url(http://fonts.googleapis.com/css?family=Cantarell);

body, .ui-widget-content, button, input {
	font-family:Cantarell, Verdana, Arial;
	font-size:1.1em;
}

#main {
	margin-left:1em;
}

h1 {
	margin:0.25em;
	font-weight:normal;
	margin-right:200px;
}

h2 {
	font-size:1.4em;
	font-weight:normal;
	color:#444;
}

h1 input {
	font-size:1.0em;
}

#newPartForm {

}

ol#wholeList {
	-moz-column-count:2;
	-webkit-column-count:2;
	list-style:decimal inside none;
	margin:0;
	padding:0;
}

ol#wholeList li {
	padding:0.25em 0;
}

ol#wholeList li span {
	width:15em;
}

ol#wholeList li a.remove {
	display:none;
}

ol#wholeList li:hover a.remove {
	display:inline;
}

#commodity-crap
{
	float:right;
}

#commodity-crap p.logo {
	margin:0;
}

.needCount {
	color:#bbb;
	font-size:0.7em;
	margin-left:1em;
	font-style:normal;
	white-space:nowrap;
}
